/*
 *
https://commons.wikimedia.org/wiki/File:Corner_Ornament_Black_Down_Right.svg
*/
#fenetre
{
    -fx-background-color:#fff;
}
#espace-travail
{
    -fx-background-color: #dddddd;
    -fx-background-radius:2em 2em 2em 2em;
    -fx-padding:2em;
}
#entete
{
    -fx-background-color: linear-gradient(from 25% 25% to 80% 100%, #97bef0, white);

}
#entete Label
{
    -fx-text-fill : white;    
}
#entete #sous-titre
{
    -fx-border-color:black;
    -fx-background-color:white;
}
#entete #sous-titre Label
{
    -fx-text-fill : black;
}

#menu
{
    -fx-background-color: #aaa;
}

#menu Button
{
    -fx-background-color: #aaa;
    -fx-border-radius: 0px;
    -fx-border-insets: 0px 0px 0px 0px;
    -fx-cursor:hand;
}

#menu Button:hover{
    -fx-background-color: #333333;
    //-fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: white;
    -fx-border-style: solid;
}

#menu Button:pressed
{
    -fx-background-color: #cccccc;   
}

#espace
{
    -fx-background-color:  white;
}

#resume-des-chaines-de-montagnes
{
    -fx-background-color: linear-gradient(from 25% 25% to 80% 100%, #97bef0, white);
    -fx-border-color: black;
    -fx-background-radius: 22px;
    -fx-border-radius: 22px;  
}

#liste-chaines-de-montagnes HBox.chaine-de-montagne
{
    -fx-background-color: #97bef0;
    -fx-border-width: 3px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-max-height: 30px;
    -fx-min-width:200px;
    -fx-max-width: 5000px;
    -fx-spacing: 10px;
    -fx-padding: 10px;
    
}

#liste-chaines-de-montagnes .chaine-de-montagne Label
{
	-fx-text-fill: white;
	-fx-font-size: 28px;
	-fx-font-weight: bold;
}

#liste-chaines-de-montagnes .chaine-de-montagne Button
{
// button style from http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
	-fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-size: 18px;
}

#liste-sommets HBox.sommet
{
	-fx-background-color: #97bef0;
    -fx-background-radius: 22px;
    -fx-border-radius: 22px;
    -fx-max-height: 20px;
    -fx-min-width:200px;
    -fx-max-width: 5000px;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

#liste-sommets .sommet Label 
{
	-fx-text-fill: white;
	-fx-font-size: 25px;
	-fx-font-weight: bold;
}

ScrollPane,
ScrollPane > .viewport
{
    -fx-background-color:transparent;
}

ScrollPane > .viewport
{
    -fx-padding: 5 5 5 5;
}

AnchorPane FlowPane Pane Button
{
    -fx-background-color:transparent;    
}

